section.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 1rem;
}

.input-wrapper .inputs {
  width: 80%;
  align-self: flex-start;
  display: flex;
  column-gap: 2rem;
}

.inputs > div {
  width: 30%;
  display: flex;
  color: var(--grey-40);
  flex-direction: column;
}

.date input {
  outline: none;
  border: 1px solid var(--grey-40);
  padding: 0.2rem 1rem;
  border-radius: 6px;
  font-size: var(--fs-input);
  color: var(--black);
}

.date p {
  display: block;
  font-size: 12px;
  font-weight: var(--fw-lgt);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  pointer-events: none;
}

input[type="number"] {
  pointer-events: none;
}
input[type="number"]:not(:focus) {
  pointer-events: auto;
}

input::placeholder,
input {
  font-weight: var(--fw-bolder);
}

.inputs .error {
  color: var(--red-60);
}

.icon {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.icon::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.5px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    background-color: var(--grey-90);
}

.svg-wrapper {
  background-color: var(--purple);
  border-radius: 100%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.svg-wrapper:hover {
  cursor: pointer;
  background-color: var(--black);
}

.displayField {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 400;
}

.displayField span {
  color: var(--purple);
}


@media screen and (max-width: 768px) {

  .date input {
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    color: var(--black);
  }
  .icon {
    justify-content: center;
  }
  .svg-wrapper {
    height: 55px;
    width: 55px;
  }
  .displayField {
    font-size: 1.5rem;
  }

  main#root{
    padding: 3rem 1.5rem;
  }
}
