@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
  --purple: hsl(259, 100%, 65%);
  --red-60: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --white-90: hsl(0, 0%, 94%);
  --grey-90: hsl(0, 0%, 86%);
  --grey-40: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 8%);

  --fs-input: 2rem;
  --fw-lgt: 400; /* i */
  --fw-bold: 700;
  --fw-bolder: 800; /* i */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-90);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
main {
  background-color: var(--white);
  width: min(95%, 700px);
  margin-top: 5rem;
  border-radius: 12px;
  border-bottom-right-radius: 35%;
  padding: 3rem 3rem;
}
